In [1]:
print ('helllo')

helllo

print command

In [2]:
5%2

1

In [3]:
2**7

128

In [4]:
income=15000
tax=0.2
return=income*tax

SyntaxError: invalid syntax (<ipython-input-4-aefbd5968dd3>, line 3)

In [5]:
income=15000
tax=0.2
tax_return=income*tax

In [6]:
tax_return

3000.0

In [7]:
type (tax_return)

float

In [8]:
len("hello what is the length")

24

In [9]:
print("Hello World")

Hello World

In [10]:
mystr = "this is a string"

In [12]:
print(mystr[::-1])

gnirts a si siht

In [14]:
'P' + mystr[-1:-3]

'P'

In [17]:
attach = mystr[-3:]

In [18]:
attach

'ing'

In [19]:
'P'+ attach

'Ping'

In [24]:
x='P'+ attach + " "

In [23]:
x*2

'Ping Ping '

In [25]:
x.capitalize()

'Ping '

In [26]:
x.upper()

'PING '

In [28]:
x.split('i')

['P', 'ng ']

# this is how to use a .format() method for interpolation

In [30]:
print('this {1} {0} {2} happens to be mine '.format("quick","brown","fox"))

this brown quick fox happens to be mine

In [35]:
value= 100/9

In [36]:
value

11.11111111111111

In [37]:
print ('value is {v:2.2f}'.format(v=value))

value is 11.11

# Formating string literals using f.string method

In [38]:
name="sam"
age="22"

In [40]:
print(f"his name is {name} and he is {age} years old")

his name is sam and he is 22 years old

In [41]:
# list methods and functions

In [42]:
my_list = ["This is a string", '10',100.09]

In [47]:
my_list[0] = "new string"

In [48]:
mylidt

NameError: name 'mylidt' is not defined

In [49]:
mylist

NameError: name 'mylist' is not defined

In [50]:
my_list

['new string', '10', 100.09]

In [53]:
my_list.append("Niggas")

In [54]:
my_list

['new string', '10', 100.09, 'Niggas']

In [82]:
new_list=['a','g','b','c','f']
num_list=[1,4,2,7,3,5]

In [83]:
new_list

['a', 'g', 'b', 'c', 'f']

In [85]:
new_list.pop()

'f'

In [69]:
d={'1':'one','2':'two','3':'three'}

In [72]:
d['1']

'one'

In [73]:
d['2']

'two'

In [74]:
d['4']='four'

In [75]:
d

{'1': 'one', '2': 'two', '3': 'three', '4': 'four'}

In [80]:
d.keys()

dict_keys(['1', '2', '3', '4'])

In [81]:
d.items()

dict_items([('1', 'one'), ('2', 'two'), ('3', 'three'), ('4', 'four')])

# file i/o featres of python

In [86]:
%%writefile sample.txt
this is a new file 
this is the second line of this file
3rd line

Writing sample.txt

In [87]:
pwd

'D:\\Users\\703248615'

In [90]:
my_file=open('sample.txt')

In [91]:
my_file

In [92]:
content= my_file.read()

In [93]:
content

'this is a new file \nthis is the second line of this file\n3rd line\n'

In [94]:
my_file.seek(0)

0

In [95]:
my_file.read

In [104]:
#this how to use if/else statement

name ='david'

if name == 'Abhishek':
   print("hello admin")
elif name =='Saloni':
   print("hey Sista")
else:
    print ("who are you")

who are you

# for loops

In [105]:
my_list = [1,2,3,4,5,6,7,7,8,19]

In [107]:
for digits in my_list:
    print(digits)

1
2
3
4
5
6
7
7
8
19

In [108]:
for digits in my_list:
    print("jaikara")

jaikara
jaikara
jaikara
jaikara
jaikara
jaikara
jaikara
jaikara
jaikara
jaikara

In [109]:
#check for even number
for digits in my_list:
    if digits%2 == 0:
        print (digits)

2
4
6
8

In [113]:
#check for num is odd
for num in my_list:
    if num%2 !=0:
        print (num)

1
3
5
7
7
19

In [119]:
# adding up all the numbers in  my_list
sum=0
for num in my_list:
    sum=sum+num
print(sum)

62

In [120]:
# add in loop

In [122]:
sum=0
for num in my_list:
    sum=sum+num
    print(sum)

1
3
6
10
15
21
28
35
43
62

In [123]:
# _
for _ in "abhishek":
    print('cool')

cool
cool
cool
cool
cool
cool
cool
cool

In [125]:
# while loop  
x=3
while x<9 :
    print (x)
    x+=1
else:
    print ('x is no longer less than 9')

3
4
5
6
7
8
x is no longer less than 9

In [129]:
x=3
while x<9 :
    if x==8:
        break
    print (x)
    x+=1
else:
    print ('x is no longer less than 9')

3
4
5
6
7


# list comprehention

In [132]:
#loop method
list='letter'
my_list=[]
for x in list :
    my_list.append(x)

In [133]:
my_list

['l', 'e', 't', 't', 'e', 'r']

In [134]:
#new method
listx=[x for x in 'my niggas']

In [136]:
print(listx)

['m', 'y', ' ', 'n', 'i', 'g', 'g', 'a', 's']

In [139]:
listzz =[x**2 for x in range(0,5)]
print(listzz)

[0, 1, 4, 9, 16]

In [145]:
#nested loop
my_list=[]
for a in [1,2,3,4]:
    for b in [10,100]:
        my_list.append(a*b)

In [146]:
my_list

[10, 100, 20, 200, 30, 300, 40, 400]

In [147]:
pwd

'D:\\Users\\703248615'